:root {
    --bgcolor: #f1f1f1;
    --white: #ffffff;
    --titlecolor: #1E0E62;
    --textcolor: rgba(21, 20, 57, 0.4);
    --titleFontDesktop: 3.4rem;
    --titleFontMobile: 2.5rem;
    --fontTextDesktop: 1.7rem;
    --fontTextMobile: 1.4rem;
    --secondarycolor: #25DAC5;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}

/* Header/Navbar */
header {
    background-color: var(--white);
}
header .navbar{
    width: 90%;
    margin: 0 auto;
    height: 6rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar p{
    font-size: 1.6rem;
    color: var(--titlecolor);
    font-weight: 700;
}
.navbar a {
    width: 8rem;
    border: 2px solid #EBEAED;
    border-radius: 100px;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--titlecolor);
    font-weight: bold;
    padding: 5px 0;
    transition: all 0.5s;
}
.navbar a:hover {
    color: var(--white);
    background-color: var(--titlecolor);;
}

/* Main */
main {
    width: 100%;
    height: auto;
    background-color: var(--bgcolor);
    padding: 4rem 0;
}
/* Section AboutMe */
.aboutMe {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.aboutMe__title h1 {
    font-size: var(--titleFontMobile);
    font-weight: bold;
    color: var(--titlecolor);
    margin-bottom: 3rem;
}
.aboutMe__title p{
    width: 70%;
    font-size: var(--fontTextMobile);
    color: var(--textcolor);
}
.aboutMe__img{
    margin-top: 3rem;
    width: 100%;
    height: auto;
}
.aboutMe__img img {
    width: 100%;
    min-width: 27rem;
    max-width: 35rem;
}
/* Section Habilidades */
.borde {
    width: 100%;
    height: 2px;
    border-top: 2px solid #d8d8d8;
}
.habilidades {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}
.habilidades h2{
    font-size: var(--titleFontMobile);
    font-weight: bold;
    color: var(--titlecolor);
    margin-bottom: 1.5rem;
}
.habilidades > p {
    font-size: var(--fontTextMobile);
    color: var(--textcolor);
    font-weight: 500;
    margin-bottom: 3rem;
}
.habilidades .skillsContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.skillsContainer .skillsContainer__card{
    padding: 3rem 0;
}
.skillsContainer__card h3 {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--titlecolor);
}
.skillsContainer__card p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--textcolor);
}

/* Experiencia */
.experiencia {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 5rem 0;
    text-align: center;
}
.experiencia > h2{
    font-size: var(--titleFontMobile);
    color: #1E0E62;
}
.experiencia > p{
    width: 85%;
    margin: 2rem auto;
    font-size: var(--fontTextMobile);
    color: var(--textcolor);
    font-weight: bold;
}
.experiencia > a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--secondarycolor);
    border: 1px solid transparent;
    padding: 0.4rem 1.5rem;
    border-radius: 100px;
    margin-bottom: 3rem;
    transition: all 0.5s;
}
.experiencia > a:hover {
    color: var(--secondarycolor);
    background-color: var(--white);
    border: 1px solid var(--secondarycolor);
}
.carruselContainer{
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.carruselContainer::-webkit-scrollbar{
    display: none;
}
.carruselSlide {
    padding-bottom: 4rem;
    width: 300%;
    height: auto;
    display: flex;
    overflow-x: scroll;
}
.carruselSlide::-webkit-scrollbar{
    display: none;
}
.expContainer {
    width: 33.4%;
    height: auto;
    position: relative;
}
.expCard {
    width: 80%;
    margin: 0 auto;
}
.expCard a {
    width: 100%;
}
.expCard a img {
    width: 100%;
    border-radius: 1rem;
    border-bottom:5px solid transparent;
    border-top: 5px solid var(--secondarycolor);
    transition: all 0.4s;
}
.expCard a img:hover {
    border-bottom:5px solid var(--secondarycolor);
    border-top: 5px solid transparent;
    transform: translateY(-5px);
}
.expCard h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #1E0E62;
}
.expCard p {
    margin-top: 1rem;
    font-size: var(--fontTextMobile);
    color: var(--textcolor);
    font-weight: 500;
}
.expContainer .rightArrow{
    position: absolute;
    top: calc(50% - 7px);
    right: 5px;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(./assets/right-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.expContainer .leftArrow{
    position: absolute;
    top: calc(50% - 7px);
    left: 5px;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(./assets/left-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

/* Footer */
footer{
    height: 60vh;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: var(--fontTextMobile);
    font-weight: 700;
}
footer p:first-child{
    color: var(--titlecolor);
}
footer p:nth-child(2){
    color: #482BE7;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;
    margin-top: 2rem;
}
footer ul li a{
    font-size: var(--titleFontMobile);
    color: #9999A7;
}
footer ul li a > i{
    transition: all 0.4s;
}
footer ul li a > i:hover {
    transform: scale(1.2);
}







@media (min-width: 769px) {
    .borde {
        display: none;
    }
    /* Header/Navar */
    .navbar p {
        font-size: 2.4rem;
    }

    /* Main Section AboutMe */
    .aboutMe {
        flex-direction: row;
        align-items: center;
    }
    .aboutMe__title h1 {
        font-size: var(--titleFontDesktop);
    }
    .aboutMe .aboutMe__img {
        margin-top: 0;
    }
    .aboutMe__img img {
        max-width: max-content;
    }
    .aboutMe__title p{
        font-size: var(--fontTextDesktop);
    }
    /* Section Habilidades */
    .habilidades h2{
        text-align: center;
        font-size: var(--titleFontDesktop);
        margin: 5rem 0 3rem;
    }
    .habilidades > p{
        width: 75%;
        text-align: center;
        margin: 0 auto 4rem;
        font-size: var(--fontTextDesktop);
    }
    .habilidades .skillsContainer{
        flex-direction: row;
        justify-content: center;
    }
    .skillsContainer .skillsContainer__card{
        margin-top: 4rem;
        padding: 3rem 3rem;
        max-width: 27rem;
        text-align: center;
    }
    .skillsContainer__card h3 {
        font-size: 2rem;
    }
    .skillsContainer__card p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    /* Section Experiencia */
    .experiencia > h2{
        font-size: var(--titleFontDesktop);
    }
    .experiencia > p{
        width: 70%;
        margin: 2rem auto 5rem;
        font-size: var(--fontTextDesktop);
    }
    .experiencia > a {
        margin-bottom: 3rem;
        padding: 0.5rem 2.5rem;
        border-radius: 100px;
        font-size: var(--fontTextDesktop);
    }
    .carruselSlide {
        width: 90%;
        margin: 0 auto;
    }
    .rightArrow, .leftArrow {
        display: none;
    }
    .expContainer {
        width: auto;
    }

    /* Footer */
    footer ul {
        width: 20%;
    }
    footer p {
        font-size: var(--titleFontDesktop);
    }
    footer ul li a{
        font-size: var(--titleFontDesktop);
    }
}